<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992184450918-97032576ohlu91pimb8k1lhbgaerc6b8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992184450918-97032576ohlu91pimb8k1lhbgaerc6b8</string>
	<key>API_KEY</key>
	<string>AIzaSyAtL36rN0Iyia3vkWg84_1_678qgmRUm58</string>
	<key>GCM_SENDER_ID</key>
	<string>992184450918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.errorstacker.hairSalon</string>
	<key>PROJECT_ID</key>
	<string>hairtech-sg</string>
	<key>STORAGE_BUCKET</key>
	<string>hairtech-sg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992184450918:ios:67f8ad18791ae51ecc92a7</string>
</dict>
</plist>